@font-face {
  font-family: 'TitilliumWeb-Bold';
  src: url(../../content/fonts/TitilliumWeb-Bold.ttf);
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url(../../content/fonts/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url(../../content/fonts/SourceSansPro-Light.ttf);
}
