// screen
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// colors
$white: #ffffff;
$black: #373a3c;
$black-dark: #333;
$black-light: #55595c;
$gray: #bbb;
$gray-dark: #aaa;
$gray-darker: #999999;
$gray-very-dark: #818a91;
$gray-lazy: #bbbbbb;
$gray-ccc: #ccc;
$gray-light: #f3f3f3;
$gray-high-light: #f5f5f5;
$gray-ultra-light: #ccc;
$gray-lightfull: #ddd;
$gray-low-light: #e5e5e5;
$green: #5cb85c;
$green-darker: #449d44;
$green-dark: #3d8b3d;
$error: #b85c5c;
$green-gray: #449d44;
$red: #b85c5c;
$blue-light: #66afe9;

// fonts
$titillium-sans: 'TitilliumWeb-Bold', sans-serif;
$source-sans: 'SourceSansPro-Regular', sans-serif;
$source-serif: 'SourceSansPro-Regular', serif;
$source-light: 'SourceSansPro-Light', sans-serif;
