.input {
  @include text-format(1.25rem,400,$source-sans,$black,_,inherit);
  padding: 0.75rem 1.5rem;
  width: 100%;
  line-height: 1.25;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0.3rem;
  outline: none;
  box-sizing: border-box;
  &_small {
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
  }

  &:focus {
    border-color: $blue-light;
  }
}
