@import '../../../sass/main';

.DeleteArticleBtn {
  @include btn-reset;
  @include block-format(_, auto, auto, 0, 0.25rem 0.5rem);
  @include text-format(0.875rem, 400, $source-sans, $red);
  line-height: 1.25;
  border: 1px solid $red;
  border-radius: 0.2rem;

  &:hover {
    background: $red;
    color: $white;
  }
}
