@import '/src/sass/main';

.Login {

  &-body {
    @include flex(_,center,column);
    padding: 1.5rem 0;
    width: 540px;
    margin: 0 auto;
  }

  &-header {
    @include text-format(2.5rem,500,$source-sans,$black,_,_);
    line-height: 1.1;
    margin: 0 0 0.5rem 0;
  }

  &-register-link {
    @include text-format(1rem,400,$source-sans,$green);
    line-height: 1.5;
    margin: 0 0 1rem 0;
    display: block;
    text-decoration: none;
  }

  &-error {
  }

  &-form {
  }
}
